In [1]:
import spacy
import nltk
import pandas as pd

In [2]:
nlp=spacy.load('en_core_web_lg')

In [3]:
df=pd.read_csv('moviereviews.tsv',sep='\t')

### Word Vectors

In [4]:
nlp(u'There is a dog').vector

array([-1.3071    ,  5.3316746 , -4.4923754 , -1.745275  ,  4.117545  ,
        0.06277502, -1.765725  ,  4.0765495 ,  0.9559575 ,  2.0773022 ,
       10.423725  , -0.42385006, -1.7714683 , -0.16087496,  3.5445375 ,
        3.580075  ,  2.006786  ,  1.7220249 ,  1.06923   ,  0.30959508,
        0.16140008,  1.555975  , -3.7113152 ,  0.21937507, -1.824605  ,
       -2.8309498 , -0.5800251 , -1.6252253 , -3.1270752 , -1.0652299 ,
        1.2348949 ,  0.6315675 , -3.2009501 , -1.1612874 , -1.9292749 ,
        1.6606023 ,  0.5280075 ,  1.6455374 ,  6.48235   , -1.8718251 ,
       -1.635585  , -0.762025  ,  3.2665324 ,  1.2128999 , -2.0247526 ,
        2.1686254 ,  4.864995  , -4.42739   , -1.0794876 , -0.06810248,
        1.52633   ,  2.7944026 ,  4.4619274 , -3.0021253 , -0.41062492,
        0.097875  ,  5.7438498 , -1.0619    , -0.388425  ,  0.341425  ,
        1.684905  , -2.1802852 , -0.95015   , -1.2939501 , -4.12195   ,
       -0.06771243, -4.970125  , -5.876175  ,  2.1812174 ,  3.69415   ,
        0.6948644 ,  4.033175  , -6.453255  ,  0.322722  , -0.63296   ,
        2.7967002 , -3.6790376 ,  5.0000625 , -3.1517248 , -1.8486998 ,
       -7.0390005 , -3.4094002 ,  2.829175  , -0.06542498,  0.98929995,
       -0.5327626 ,  2.2360249 ,  0.7736349 ,  4.027975  , -3.3947275 ,
       -0.40917504, -7.277297  ,  2.5971    , -7.86155   ,  1.1607176 ,
       -4.645325  , -0.4048425 ,  0.28537506, -0.5975951 , -7.1906004 ,
        0.9638499 ,  1.0151526 ,  7.1137247 ,  6.9606247 ,  1.9909775 ,
        6.4535327 , -2.7170951 ,  2.0237498 , -3.2573445 ,  2.69206   ,
        0.28834507,  3.5525248 , -0.15257764,  4.7503    ,  0.21469253,
       -1.1040502 , -4.4763274 ,  0.18832505,  2.277075  , -0.05349994,
       -1.29264   , -1.1531751 , -2.2085052 ,  6.4545    , -4.6275997 ,
       -8.201425  , -2.4725    ,  0.5413375 ,  5.3527    , -1.4351074 ,
       -1.260575  , -2.870975  ,  7.0686746 , -7.178575  ,  2.0058    ,
        1.65277   ,  2.371225  , -3.1437998 ,  5.28125   , -3.9354749 ,
       -2.864675  ,  0.34062493,  3.5866299 ,  3.2231874 , -0.22811735,
       -0.06937495, -2.5426853 ,  0.42807508, -2.5761752 ,  4.569937  ,
        4.658825  ,  4.67093   ,  1.7329099 ,  2.0863752 ,  0.21024501,
        1.3052926 ,  6.6982    ,  4.550225  ,  0.896985  , -1.0844926 ,
       -1.3707651 , -2.7514362 ,  3.24095   ,  1.3764625 , -3.088575  ,
       -3.004775  , -4.305825  ,  6.6035495 ,  2.8668551 ,  1.4782876 ,
        3.9140797 , -0.4746626 ,  3.012995  ,  2.8139253 ,  0.73025   ,
       -5.01195   ,  0.2546475 , -0.59344995, -4.19344   , -1.1699251 ,
       -1.1772076 ,  1.983925  ,  3.35644   , -1.749575  , -3.98055   ,
       -0.5347001 , -5.008625  , -4.0203    , -1.3201025 ,  4.3951077 ,
       -1.9003999 ,  0.7750775 , -1.3633751 , -2.0763726 ,  2.6739874 ,
        0.1789999 , -3.7248    , -0.17875004,  4.64195   , -4.72133   ,
        0.95659494, -2.1588926 , -4.4891    , -4.241378  ,  0.6593    ,
        1.3049874 , -4.875832  ,  0.14854999, -3.3758426 , -2.4603    ,
        3.689275  ,  2.1333575 , -0.896225  ,  2.4029374 ,  0.32895994,
        0.2891999 ,  0.90918005, -2.7049928 , -2.8169274 , -1.2367275 ,
       -1.5249624 , -2.0997474 ,  1.7673125 , -1.0261    ,  0.886225  ,
        3.166175  ,  2.1552026 , -1.1287    ,  5.7792497 , -1.1999725 ,
        0.78305006, -7.6364503 ,  2.1155    ,  4.756625  , -3.024225  ,
        2.548925  , -0.46395   ,  0.73415005,  1.159475  ,  1.9549602 ,
        2.505955  , -0.523015  ,  3.939775  ,  2.5944998 , -3.7378902 ,
       -0.782275  , -4.288475  ,  2.1867175 , -1.7032249 ,  6.624425  ,
        0.30804998,  1.6455474 , -6.7689753 , -4.8598    , -4.3970747 ,
       -2.3461828 ,  1.519033  ,  6.498075  ,  1.77775   , -0.731205  ,
       -2.12435   ,  2.7192001 ,  0.86140245,  5.4472246 , -3.0979424 ,
       -0.5021826 , -1.7953    ,  0.43538755, -4.9607825 ,  2.138935  ,
        4.306675  , -0.852825  ,  0.01529756, -3.694475  ,  3.965425  ,
        0.47457492,  1.2211249 ,  3.364875  , -0.9872999 , -0.30675507,
        0.988315  , -4.237575  , -3.07234   , -1.5407238 ,  7.249448  ,
       -2.2007499 ,  3.2843504 , -0.31810498, -5.0395746 ,  3.2875001 ,
        1.254175  , -1.7169751 ,  5.11371   , -0.01798746, -1.9662825 ,
        2.3982525 , -1.8023    ,  3.9127924 , -4.5216675 ,  4.7907863 ],
      dtype=float32)

In [5]:
doc=nlp(u'lion cat pet')
for i in doc:
    for j in doc:
        print(i.text,j.text,i.similarity(j))

lion lion 1.0
lion cat 0.3854507803916931
lion pet 0.20031584799289703
cat lion 0.3854507803916931
cat cat 1.0
cat pet 0.732966423034668
pet lion 0.20031584799289703
pet cat 0.732966423034668
pet pet 1.0

In [6]:
doc=nlp(u'like love hate')
for i in doc:
    for j in doc:
        print(i.text,j.text,i.similarity(j))

like like 1.0
like love 0.5212638974189758
like hate 0.5065141320228577
love like 0.5212638974189758
love love 1.0
love hate 0.5708349943161011
hate like 0.5065141320228577
hate love 0.5708349943161011
hate hate 1.0

### Vector Norms

In [7]:
nlp(u'lion').vector_norm #L2 Norm :Euclidean Norm  |x|2=sqrt(sum(xi)^2)

55.14573486169834

In [8]:
nlp(u'liob').has_vector

False

In [9]:
from scipy import spatial
cosine_similarity = lambda vec1,vec2 : 1 - spatial.distance.cosine(vec1,vec2)
king=nlp.vocab['king'].vector
man=nlp.vocab['man'].vector
woman=nlp.vocab['woman'].vector
vector_x=king-man+woman

In [10]:
calculated_similarities=[]
for word in nlp.vocab:
    if word.has_vector:
        if word.is_lower:
            if word.is_alpha:
                similarity=cosine_similarity(vector_x,word.vector)
                calculated_similarities.append((word,similarity))
calculated_similarities=sorted(calculated_similarities,key=lambda item: -item[1])

In [11]:
print(i[0].text for i in calculated_similarities[:5])

<generator object <genexpr> at 0x7f603d7a0a00>

In [12]:
calculated_similarities[3][0].text

'where'

In [13]:
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [14]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/akm17/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [15]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid=SentimentIntensityAnalyzer()

In [16]:
a="This was a GREAT movie :)"
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.277, 'pos': 0.723, 'compound': 0.8331}

In [17]:
df['label'].value_counts()

label
neg    1000
pos    1000
Name: count, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1965 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [19]:
df.dropna(inplace=True)
empty=[]
for i,j,k in df.itertuples():
    if type(k)==str:
        if k.isspace():
            empty.append(i)
df.drop(empty,inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1938 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1938 non-null   object
 1   review  1938 non-null   object
dtypes: object(2)
memory usage: 45.4+ KB

In [22]:
df['scores']=df['review'].apply(lambda review: sid.polarity_scores(review))
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co..."

In [23]:
df['compound']=df['scores'].apply(lambda score1:score1['compound'])
df['label_vader']=df['compound'].apply(lambda c:'pos' if c>=0 else 'neg')
df.head(10)

,label,review,scores,compound,label_vader
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.068, 'neu': 0.781, 'pos': 0.15, 'com...",0.9951,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.071, 'neu': 0.782, 'pos': 0.147, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.091, 'neu': 0.817, 'pos': 0.093, 'co...",-0.2484,neg
5,neg,"to put it bluntly , ed wood would have been pr...","{'neg': 0.123, 'neu': 0.821, 'pos': 0.056, 'co...",-0.9855,neg
6,neg,"synopsis : melissa , a mentally-disturbed woma...","{'neg': 0.087, 'neu': 0.742, 'pos': 0.17, 'com...",0.9871,pos
7,neg,tim robbins and martin lawernce team up in thi...,"{'neg': 0.118, 'neu': 0.709, 'pos': 0.172, 'co...",0.9829,pos
8,neg,"in "" gia "" , angelina jolie plays the titular ...","{'neg': 0.082, 'neu': 0.862, 'pos': 0.056, 'co...",-0.8278,neg
9,neg,"in 1990 , the surprise success an unheralded l...","{'neg': 0.145, 'neu': 0.728, 'pos': 0.127, 'co...",-0.9147,neg

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(df['label'],df['label_vader'])

0.6357069143446853

In [27]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(df['label'],df['label_vader']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938